PORT=8000
DATABASE_URL="postgresql://neondb_owner:neondb_password@localhost/neondb"
FRONTEND_URL="http://localhost:3000"
MAIL_HOST=""
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
CORS_ORIGIN="http://localhost:3000"
# or production
NODE_ENV="development"

# Couldinary configuration
CLOUDINARY_CLOUD_NAME="tên_cloud_của_bạn"
CLOUDINARY_API_KEY="mã_api_key_của_bạn"
CLOUDINARY_API_SECRET="mã_bảo_mật_của_bạn"
CLOUDINARY_FOLDER="sync_flow_dev"

# Session cleanup cron expression (default: every 2 hours)
SESSION_CLEANUP_CRON=0 */2 * * *
